:root {
  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown:#fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown:#915b40;
}



body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
   height: 100vh;
  background: var(--light-brown);
  background-image: url("../assets/baloon.jpg");
}
.swiper-container {
  width: 100%;
  height: 100%;
  
}


.swiper-full-mobile {
position: relative;
margin: 50px auto;
padding-bottom: 50px;
}

.swiper-full-mobile:befores {
content: "";
width: 265px;
background: url(http://md-aqil.github.io/images/Pixel-3-XL.png);
background-size: 100%;
background-repeat: no-repeat;
position: absolute;
left: 0;
right: 0;
top: 0px;
height: 565px;
z-index: 2;
margin: auto;
}
.swiper-full-mobile .swiper-slide {
height: 100%;
}
.swiper-full-mobile .swiper-slide img{
width: 100%;
height: 530px;
object-fit: cover;

}
.swiper-slide.swiper-slide-active img {
border-radius: 00px;

}
.orangetext{
  color:indigo;
}
.flex-center{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flex-col{
  flex-direction: column;
}
.mt-50{
  margin-bottom: 50px;
}